body {
    font-family: Arial, sans-serif;
    background-color: #00f2ff;
    display: flex;
    flex-direction: column; /* Alinha o conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    height: 100vh; /* Garante que o conteúdo ocupe a altura total da tela */
    margin: 0;
}

h1, h2 {
    color: white;
    text-align: center;
}

.botao {
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    background-color: black;
    color: #00e3fc;
    border-radius: 20px;
    border: none;
}

img {
    margin-top: 20px;
    max-width: 100%;
}

button:hover {
    background-color: white;
    color: #f800fc;
}
